
<style type="text/css">
body{ /* Normal  */
  font-size: 18px;
   min-width:1100px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1100px;            /* As IE6 ignores !important it will set width as 1100px; */
  }
h1 { /* Header 1 */
  font-size: 34px;
  color: DarkSlateGrey;
}
h2 { /* Header 2 */
    font-size: 28px;
  color: SlateGrey;
}
h3 { /* Header 3 */
  font-size: 22px;
  color: LightSlateGrey;
}
code.r{ /* Code block */
    font-size: 12px;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}
</style>